<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/diary/<%= currentUser.id %>">日記一覧</a>
          <a class="nav-link" href="/diary/<%= currentUser.id %>/new">日記追加</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(currentUser) { %>
            <a class="nav-link" href="/logout">ログアウト</a>
          <% } else { %>
            <a class="nav-link" href="/login">ログイン</a>
            <a class="nav-link" href="/register">ユーザー登録</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>