<% layout('layouts/registerLoginLayout') -%>
    <div class="row">
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 mt-3">
            <h3 class="text-center my-3">Yeah!英絵日記</h3>
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">ユーザー登録</h5>
                    <form action="/register" method="post" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">ユーザー名</label>
                            <input class="form-control" type="text" name="username" id="username" autofocus required>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">メールアドレス</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="password">パスワード</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                        <div class="d-grid ">
                            <button class="btn btn-success w-50 m-auto ">ユーザー登録する</button>
                        </div>
                    </form>
                </div>
            </div>